@import "tailwindcss";

@theme {
  --color-background: #f0f0f0;
  --color-text: #323232;
  --color-light-blue: #96C8FF;
  --color-purple: #5064B4;
  --color-pumpkin-orange: #FF9632;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: sans-serif;
}
